@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>SelfService</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link href="stylesheets/typeahead.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.components.min.css">

    <script type="text/javascript" src="./Scripts/vkbeautify.0.99.00.beta.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        .checkboxLabel {
            display: inline;
            margin-left: 5px;
            margin-bottom: 3px;
        }

        .languageCheckBox {
            margin-bottom: -2px !important;
        }
        .squareButton{
            display:inline-block;
            padding: 10px 10px;
        }
        .modalList{
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="versionModal" class="ms-Dialog" style="width:100%; height: 100%;">
        <div class="ms-Dialog-main" style="width:80%; height: 80%; max-width:none">
            <button class="ms-Dialog-button ms-Dialog-button--close" style="display:block;position:static;margin-top:10px">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" style="height:35px" />
                <span class="ms-font-l" style="margin-left:5px;vertical-align:middle">Return to portal homepage</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Select Version</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner" style="width:100%;height:auto">
                <div class=" ms-dialog-actions" style="width:100%;">
                    <div style="width:100%;">
                        <ul id="versions" class="modalList">
                            <li class="squareButton">
                                <button class="ms-Dialog-action ms-Button" onclick="" style="width:225px;height:250px;">
                                    <i class="ms-Icon ms-Icon--support"></i>
                                    <span class="ms-Button-label">Help</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="productModal" class="ms-Dialog" style="width:100%; height: 100%;display:none;">
        <div class="ms-Dialog-main" style="width:80%; height: 80%; max-width:none;overflow:auto">
                <button class="ms-Dialog-button ms-Dialog-button--close" style="display:block;position:static;margin-top:10px" onclick="showVersionModal()">
                    <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" style="height:35px" />
                    <span class="ms-font-l" style="margin-left:5px;vertical-align:middle">Back</span>
                </button>
                <div class="ms-Dialog-header">
                    <p class="ms-Dialog-title">Select Package</p>
                    <hr />
                </div>
            <div class="ms-Dialog-inner" style="width:100%;height:auto">
                <div style="width:100%;">
                    <ul class="modalList">
                        <li class="squareButton">
                            <button class="ms-Dialog-action ms-Button" onclick="setProduct('2013')" style="width:225px;height:250px;">
                                <i class="ms-Icon ms-Icon--file"></i>
                                <span class="ms-Button-label">IT</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="languageModal" class="ms-Dialog" style="width:100%; height: 100%;display:none">
            <div class="ms-Dialog-main" style="width:80%; height: 80%;max-width:none">
                <button class="ms-Dialog-button ms-Dialog-button--close" style="display:block;position:static;margin-top:10px" onclick="showProductModal()">
                    <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" style="height:35px" />
                    <span class="ms-font-l" style="margin-left:5px;vertical-align:middle">Back</span>
                </button>
                <div class="ms-Dialog-header">
                    <p class="ms-Dialog-title">Select Languages</p>
                </div>
                <div class="ms-Dialog-inner" style="width:100%;height:auto">
                    <div class="ms-Grid">
                        <div id="languagesGrid" class="ms-Grid" style="margin-bottom:1%;">
                            <div class='ms-Grid-row'>
                            </div>
                        </div>
                    </div>
                    <div class=" ms-dialog-actions" style="width:100%;">
                        <div style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                            <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="setLanguage()">
                                <span class="ms-Button-label">forward</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="ms-Dialog" style="width:100%; height: 100%;display:none">
        <div class="ms-Dialog-main" style="width:80%; height: 80%; max-width:none">
            <button class="ms-Dialog-button ms-Dialog-button--close">
                <i class="ms-Icon ms-Icon--x"></i>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Summary</p>
            </div>
            <div class="ms-Dialog-inner" style="width:100%; height: auto;">
                <p class="ms-font-m">Confirmation Screen</p>
                <p class="ms-font-m">Version: <span class="ms-font-m" id="versionSpan"></span></p>
                <p class="ms-font-m">Product: <span class="ms-font-m" id="productSpan"></span></p>
                <p class="ms-font-m">Languages: <span class="ms-font-m" id="languageSpan"></span></p>
                <div class=" ms-dialog-actions" style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                    <div style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                        <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="showLanguageModal()">
                            <span class="ms-Button-label">Back</span>
                        </button>
                        <button class="ms-Dialog-action ms-Button ms-Button--primary">
                            <span class="ms-Button-label">Install</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="helpModal" class="ms-Dialog" style="width:100%; height: 100%;display:none">
        <div class="ms-Dialog-main" style="width:80%; height: 80%; max-width:none">
            <button class="ms-Dialog-button ms-Dialog-button--close" style="display:block;position:static;margin-top:10px" onclick="showVersionModal()">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" style="height:50px" />
                <span class="ms-font-l" style="margin-left:5px;vertical-align:middle">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Summary</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner" style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                <p class="ms-font-m">Confirmation Screen</p>
                <p class="ms-font-m">Version: <span class="ms-font-m" id="versionSpan"></span></p>
                <p class="ms-font-m">Product: <span class="ms-font-m" id="productSpan"></span></p>
                <p class="ms-font-m">Languages: <span class="ms-font-m" id="languageSpan"></span></p>
                <div class=" ms-dialog-actions" style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                    <div style="width:100%; height: 100%;margin-right:auto;margin-left:auto">
                        <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="showLanguageModal()">
                            <span class="ms-Button-label">Back</span>
                        </button>
                        <button class="ms-Dialog-action ms-Button ms-Button--primary">
                            <span class="ms-Button-label">Install</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        (function () {
            function getLanguages() {

                $.ajax({
                    type:"GET",
                    url: "SelfServiceConfig.xml",
                    datatype: "xml",
                    success:
                        function (xml) {
                            $(xml).find('Language').each(function () {
                                $('#languagesGrid > .ms-Grid-row').append("<div class='ms-Grid-col ms-u-lg4 ms-u-xl4 ms-u-md4'> <input type='checkbox' id='" + $(this).attr('ID') + "' class='languageCheckBox' /> \
                                    <span class='ms-Label checkboxLabel'>" + $(this).attr('Label') + "</span></div>");
                            });
                        }
                });
            }

            function getVersions() {

                $.ajax({
                    type: "GET",
                    url: "SelfServiceConfig.xml",
                    datatype: "xml",
                    success:
                        function (xml) {
                            $(xml).find('Version').each(function () {
                                var version = $(this).attr('ID');
                                console.log("Versions: " + version);
                                if(version === "2013"){
                                    $('#versions').prepend("<li class='squareButton'>\
                                        <button class='ms-Dialog-action ms-Button ms-Button--primary ms-bgColor-orangeLight' onclick='setVersion(\"2013\")' style='width:225px;height:250px;'>\
                                        <img src='~/Content/imgs/office-icon-white.png' />\
                                        <span class='ms-Button-label ms-fontColor-white'>2013</span>\
                                        </button>\
                                        </li>");
                                }
                                if (version === "2016") {
                                    $('#versions').prepend("<li class='squareButton'>\
                                    <button class='ms-Dialog-action ms-Button ms-Button--primary' onclick='setVersion(\"2016\")' style='width:225px;height:250px;'>\
                                    <img src='~/Content/imgs/office-icon-white.png' />\
                                    <span class='ms-Button-label'>2016</span>\
                                    </button>\
                                    </li>")
                                }
                            });
                        }
                });
            }

            function getBuild() {

                $.ajax({
                    type: "GET",
                    url: "SelfServiceConfig.xml",
                    datatype: "xml",
                    success:
                        function (xml) {
                            $(xml).find('Build').each(function () {
                                var buildType = $(this).attr('Type');
                                console.log("Type: " + buildType);
                                //TODO: Change the displayed builds on the page according the the XML file 
                            });
                        }
                });
            }

            $(document).ready(function () {
                getVersions();
                getBuild();
                getLanguages();
            });
        })();
    </script>

</body>
</html>