body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Moving Inline css to custom classes*/ 
.custom-Dialog {
    height:100%;
    width:100%;
}

.custom-Dialog-main {
    width: 80%;
    height: 80%;
    max-width: none;
    overflow: auto;
}

.custom-back-button{
    display:block;
    position:static;
    margin-top:10px;
    margin: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    top: 12px;
    right: 12px;
    padding: 8px;
    z-index: 10;
}

.custom-back-button > img{
    height:35px;
}

.custom-back-button > span{
    margin-left:5px;
    vertical-align:middle
}

.custom-Dialog-inner{
    width:100%;
    height:auto
}

.custom-Dialog-actions{
    width:100%;
}

.custom-Dialog-actions > div{
    width:100%;
}

.squareButton > button{
    width:225px;height:250px;

}