@{
    ViewBag.Title = "_help";
}
<div class="ms-Dialog-main custom-Dialog-main">
    <button class="ms-Dialog-button custom-back-button" onclick="showModal('versionModal')">
        <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
        <span class="ms-font-l">Back</span>
    </button>
    <div class="ms-Dialog-header">
        <p class="ms-Dialog-title">Support Page</p>
        <hr />
    </div>
    <div class="ms-Dialog-inner custom-Dialog-inner">
        <div class="questionDiv">
            <h4 class="ms-font-xl">The Download For Office 365 Won't Start.</h4>
            <p class="ms-font-m questionAnswer">
                If you get to the end of the setup configuration and after 10 seconds your download refuses to start, please try downloading the files directly from <a href="https://support.office.com/en-us/article/Download-and-install-Office-using-Office-365-for-business-on-your-PC-72977511-dfd1-4d8b-856f-405cfb76839c?ui=en-US&rs=en-US&ad=US">here.</a>
            </p>
        </div>
        <div class="questionDiv">
            <h4 class="ms-font-xl">I Don't See My Specific Build.</h4>
            <p class="ms-font-m questionAnswer">
                Please contact your administrator and let them know that the build you were expecting isn't provided. 
            </p>
        </div>
        <div class="questionDiv">
            <h4 class="ms-font-xl">An Error Occurs During The Office 365 Installation Process</h4>
            <p class="ms-font-m questionAnswer">
               If you were able to download the installion files and encounter an error while installing please go to <a href="https://support.office.com/en-us/article/Troubleshoot-installing-Office-and-Office-365-35ff2def-e0b2-4dac-9784-4cf212c1f6c2?ui=en-US&rs=en-US&ad=US">this site</a> for basic troubleshooting information. 
            </p>
        </div>
    </div>
</div>
